.card {
    border: none;
    border-radius: 8px;
    background: linear-gradient(to bottom, rgb(173, 92, 240), rgb(219, 220, 226));
}
.Fitness-User-Info {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}
.Fitness-Card {
    max-height: 20%;
    max-width: 60%;
}
.Fitness-Card-Info {
    padding-left: 0;
    padding-right: 7px;
}
.Fitness-Card-Info h1{
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.Fitness-Card-Info p{
    font-size: 1em;
    color: rgb(0, 0, 0);
}
.Fitness-Add {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 80px;
    height: 60px;
}
.Fitness-Img {
    max-width: 100%;
    height: auto;
    
}